body {
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 0;
    overflow-x: hidden;
    background-color: #1baad1;
    transition: 0.2s;
}

main {
    width: min(100% - 3rem, var(--container-max, 80ch));
    margin-inline: auto;
    margin-top: 10ch;
    padding-top: 5ch;
    background-color: #f1f1f1;
    padding-bottom: 9ch;
    margin-bottom: 15ch;
    border: 1ch, solid #347db5;
    border-style: double;
    box-shadow: 0px 0px 0px 20px #263b7c;
}

header {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 1ch;
    border: 4ch solid rgb(15, 15, 67);
    border-top: none;
    border-left: none;
    border-right: none;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding-left: 2ch;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    line-height: 2;
}

p {
    padding-left: 10%;
    color: rgb(71, 71, 71);
    margin: 0;
    margin-right: 10%;
}

h4 {
    margin: 0;
    margin-top: 1ch;
}

h1 {
    margin-left: 2.5%;
    width: 80%;
    color: rgb(6, 57, 145);
    background-color: rgb(255, 244, 206); 
    border-radius: 5ch;
    padding: 1ch;
    padding-left: 2ch;
}

hr {
    margin-left: 10%;
    width: 80%;
}

img {
    width: 70%;
    border-radius: 200ch;
    margin-left: 12%;
    margin-bottom: 3ch;
    margin-top: 2ch;
    opacity: 0.9;
    padding: 0.4ch;
    background-color: rgb(154, 231, 255);
}

.logo {
    border-radius: 0;
    width: 14ch;
    height: 10ch;
    margin-left: 4ch !important;
    background-color: transparent;
    display: inline-flex !important;
    margin: 0 !important;
    padding-bottom: 0;
    margin-right: min(100% - 16rem, var(--container-max, 90ch)) !important;
}

.sideNav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    background-color: #2f6c9e;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 6ch;
    filter: none;
}

.sideNav a {
    padding: 1ch, 1ch, 1ch, 5ch;
    text-decoration: none;
    font-size: 1.5rem;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    background-color: #347db5;
    border: 0.5ch solid rgb(68, 153, 207);
    border-right: none;
    border-bottom: none;
    border-top: none;
    margin-top: 2ch;
    margin-bottom: 2ch;
    filter: none;
}

.sideNav a:hover {
    color: #f1f1f1;
    border-color: #7eb3df;
    background-color: #368ac6;
    filter: none;
}

.sideNav .closebtn {
    position: absolute;
    top: 0;
    right: 1.5ch;
    font-size: 3.5ch;
    margin-left: 4ch;
    filter: none;
}

span {
    font-size: 2.2rem; 
    cursor: pointer;
    margin-bottom: 1ch;
    margin-right: 1ch;
    margin-top: 1.5ch;
    color: #040d28;
}

.apHeader {
    line-height: 1;
    color: #1a507c;
    padding-left: 10%;
}

@media screen and (max-height: 450px) {
    .sideNav {
        padding-top: 2ch;
    }

    .sideNav a {
        font-size: 1.2ch;
    }
}

@media screen and (max-width: 500px) {
    .apHeader {
        font-size: 1rem;
    }

    p {
        font-size: 1rem;
    }

    h1 {
        font-size: 2rem;
    }

}
