body {
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 0;
    overflow-x: hidden;
    background-color: #9bdbf2;
    transition: 0.2s;
}

main {
    width: min(100% - 3rem, var(--container-max, 80ch));
    margin-inline: auto;
    margin-top: 10ch;
    padding-top: 5ch;
    background-color: #fef0f0;
    padding-bottom: 9ch;
    margin-bottom: 15ch;
    border: 1ch, solid #347db5;
    border-style: double;
    box-shadow: 0px 0px 0px 20px #263b7c;
}

header {
    background-color: #ffffff;
    z-index: 5;
    display: flex;
    padding: 1ch;
    border: 4ch solid rgb(15, 15, 67);
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: 0px 10px 20px 20px #ffffff;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding-left: 2ch;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    line-height: 2;
}

main a {
    color: #263b7c;
    display: contents;
    font-weight: 100;
}

a:hover {
    color: #5c91bd;
    animation: 0.3;
}

p {
    margin: 0;
    text-align: center;
    color: rgb(71, 71, 71);
}

h1 {
    margin: 0;
    margin-top: 4ch;
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 2rem;
}

hr {
    margin-left: 10%;
    width: 80%;
}

img {
    margin: 0;
    padding: 0;
    width: 100%;
}

.hero {
    opacity: 80%;
    z-index: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    box-shadow: 0px 5px 10px 10px rgba(255, 255, 255, 0.205) ;
}

.hero img {
    border: 1ch solid #ffffff;
}

.logo {
    border-radius: 0;
    width: 14ch;
    height: 10ch;
    margin-left: 4ch !important;
    background-color: transparent;
    display: inline-flex !important;
    margin: 0 !important;
    padding-bottom: 0;
    margin-right: min(100% - 16rem, var(--container-max, 90ch)) !important;
}

.sideNav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    background-color: #2f6c9e;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 6ch;
    filter: none;
}

.sideNav a {
    padding: 1ch, 1ch, 1ch, 5ch;
    text-decoration: none;
    font-size: 1.5rem;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    background-color: #347db5;
    border: 0.5ch solid rgb(68, 153, 207);
    border-right: none;
    border-bottom: none;
    border-top: none;
    margin-top: 2ch;
    margin-bottom: 2ch;
    filter: none;
}

.sideNav a:hover {
    color: #f1f1f1;
    border-color: #7eb3df;
    background-color: #368ac6;
    filter: none;
}

.sideNav .closebtn {
    position: absolute;
    top: 0;
    right: 1.5ch;
    font-size: 3.5ch;
    margin-left: 4ch;
    filter: none;
}

span {
    font-size: 2.2rem; 
    cursor: pointer;
    margin-bottom: 1ch;
    margin-left: 1ch;
    margin-top: 1.5ch;
    color: #040d28;
}

@media screen and (max-height: 450px) {
    .sideNav {
        padding-top: 2ch;
    }

    .sideNav a {
        font-size: 1.2ch;
    }
}
