body {
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 0;
    overflow-x: hidden;
}

main {
    width: min(65% - 3rem, var(--container-max, 80ch));
    margin-inline: auto;
    padding-left: 10ch;
}

h2 {
    color: rgb(27, 27, 116);
    background-color: rgb(255, 243, 199); 
    padding: 1ch;
}

.sidebar {
    padding-bottom: 19ch;
    position: absolute;
    width: min(38% - 3rem, var(--container-max, 18ch));
    z-index: 2;
    left: 0;
    background-color: rgb(126, 191, 235);
    overflow: hidden;
    padding-top: 2ch;
    float: left;
    scrollbar-width: none;
}

.sidebar a {
    background-color: rgb(84, 157, 221);
    margin-top: 1ch;
    border: 0.5ch, solid, rgba(75, 80, 139, 0.632);
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
}

.sidebar a:hover {
    background-color: rgb(161, 199, 232);
    border-color: rgb(112, 147, 177);
}

.sticky {
    position: fixed;
    top: 0;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding-left: 2ch;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    line-height: 2;
}

a:hover {
    color: aliceblue;
}

p {
    color: rgb(71, 71, 71);
}

img {
    width: 70%;
    border-radius: 20ch;
    margin-left: 2.3ch;
    margin-bottom: 3ch;
    margin-top: 2ch;
    border: 0.3ch, solid, black;
}

.name {
    font-size: 3rem;
    margin: 0;
}

.underText {
    color: rgb(107, 100, 100);
    margin: 0;
    padding-bottom: 1ch;
}

.nameHeader {
    background-color: rgb(183, 218, 242);
    text-align: center;
    z-index: 0;
    position: relative;
    padding: 1ch;
}

nav {
    background-color: rgb(255, 255, 255);
    text-align: center;
    position: relative;
    top: 0;
    z-index: 2;
    width: 100%;
    padding: 0.1ch;
}